* GLOBAL STYLES */

body {
  font-family: 'Lato', sans-serif;
}

.subheadline, nav#top-menu.top-bar a {
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  line-height:15px;

}


.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;

}

.white-txt, nav#top-menu.top-bar a, .footer-sq a {
  color: #ffffff;
}

.hero-height {
  height: 500px;
}

.lower-hero-height {
  height: 30px;
}


.space-above {
  margin-top: 35px;
}

.space-below {
  margin-bottom: 30px;
}

/* TOP LOGOS */

.logo-left {
  background: transparent;
  color: grey;
  border-radius: 3px;
  height: 100px;
  padding-top: 30px;
}

.btn-right {
  background: transparent;
  color: grey;
  border-radius: 3px;
  padding-top: 10px;
  text-align: center;
  height:25%;
  max-width: 200px;

}
.btn-right-p {
    font-size: 1.2em;
}

.fi-telephone {
    font-size: 1.5em;
}

.right-logo {
    margin-top: 30px;
}



/* HERO AREA */

.hero {
  background: url(../img/house-hi-res.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.lower-hero {
  background: rgba(0, 0, 0, 0.7);
}

.lower-hero .large-12 cell {
    align-content: center;
    align-items: center;
    justify-content: center;
}


.pink-panther img {
  z-index: 2;
  position: absolute;
  left: 150px;
  top: 620px;
}


.main-tagline {
  font-weight: 900;
  font-size: 4em;
  margin-top: 100px;
}

.subheadline {
  font-size: 1.7em;
    letter-spacing: 2px;
}

.main-tagline, .subheadline {
  text-shadow: 2px 2px #3d3737;
}

h3 {
  font-size: 1.5em;

}

.subheadline, h3 {
  font-weight: 700;
}

.lower-right-btn {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

a.callout {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

/* NAVIGATION */

nav#top-menu {
  display: flex;
  justify-content: center;
  height: 60px;
}

nav#top-menu.top-bar a {
  font-weight: 700;
}

/*
nav#top-menu.top-bar a:hover {
  background-color: #575656;
}
*/

nav.top-bar, nav#top-menu.top-bar a, nav#top-menu, .footer-sq, ul.dropdown.vertical.horizontal.menu {
  background-color: #7f7f7f;
}






.line a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    background-color: #ffffff
}


.line a:hover::after {
  width: 100%;
  background-color: #ffffff
}





/* ANIMATIONS */

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
a:hover .hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/* MEDIA QUERIES */


@media only screen and (max-width: 1024px) {

  nav#top-menu.top-bar a {
    padding-left:50px;
    padding-right: 50px;

  }
}

@media only screen and (max-width: 1280px) {

    .pink-panther img {
       left: 135px;
       top: 620px;
    }
}



@media only screen and (max-width: 980px) {

    .pink-panther img {
       left: 10px;
       top: 830px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 800px) {

    .pink-panther img {
       left: 10px;
       top: 830px;
    }
}



@media only screen and (max-width: 720px) {

  .pink-panther img {
    visibility: hidden;
  }
    .phone-area, .right-logo, .lower-right-btn {
        text-align: center;
        justify-content: center;
    }

    .hero {
      padding-bottom: 50px;
    }

  .lower-hero-height {
   padding-bottom: 200px;
  }
}
