/* GLOBAL STYLES */

body {
  font-family: 'Lato', sans-serif;
}

.subheadline, nav#top-menu.top-bar a {
  text-transform: uppercase;
}

p {
  font-size: 1.2em;
  line-height:15px;

}


.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  align-items: center;
  justify-content: center;

}

.white-txt, nav#top-menu.top-bar a, .footer-sq a {
  color: #ffffff;
}

.hero-height {
  height: 500px;
}

.lower-hero-height {
  height: 30px;
}


.space-above {
  margin-top: 35px;
}

.space-below {
  margin-bottom: 30px;
}

/* TOP LOGOS */

.logo-left {
  background: transparent;
  color: grey;
  border-radius: 3px;
  height: 100px;
  padding-top: 30px;
  max-width: 250px;;
}

.btn-right {
  background: transparent;
  color: grey;
  border-radius: 3px;
  max-width: 200px;
  height: 20px;

}
.btn-right p {
    font-size: 1.2em;
    line-height: 1px;
}

.fi-telephone {
    font-size: 1.5em;
}

.right-logo {
  margin-top: 30px;
}



.logo-left, .phone-area, .right-logo, .lower-right-btn, div.callout.btn-right{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}


/* HERO AREA */

.hero {
  background: url(../img/house-hi-res.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.lower-hero {
  background: rgba(0, 0, 0, 0.7);
}

.lower-hero .large-12 cell {
    align-content: center;
    align-items: center;
    justify-content: center;
}

.middle-lower-hero {
  margin-top:20px;
}


.pink-panther img {
  z-index: 2;
  position: relative;
  left: 140px;
  top: -10px;
}


.main-tagline {
  font-weight: 900;
  font-size: 4em;
  margin-top: 100px;
}

.subheadline {
  font-size: 1.7em;
    letter-spacing: 2px;
}

.main-tagline, .subheadline {
  text-shadow: 2px 2px #3d3737;
}

h3 {
  font-size: 1.5em;

}

.subheadline, h3 {
  font-weight: 700;
}

.lower-right-btn {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

a.callout {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

a.callout:hover {
  color: lightblue;
}

/* NAVIGATION */

nav#top-menu {
  display: flex;
  justify-content: center;
  height: 60px;
}

nav#top-menu.top-bar a {
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
}


nav.top-bar, nav#top-menu.top-bar a, nav#top-menu, .footer-sq, ul.dropdown.vertical.horizontal.menu, #top-menu, .title-bar {
  background-color: #7f7f7f;
}


/* ANIMATIONS */

/* underline */

.line a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
    background-color: #ffffff
}


.line a:hover::after {
  width: 100%;
  background-color: #ffffff
}



/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
a:hover .hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1280px) {

  .pink-panther img {
    left: 70px;
  }
}


@media only screen and (max-width: 1024px) {

  .pink-panther img {
    left: 50px;
  }

  nav#top-menu.top-bar a {
    padding-left: 10px;
    padding-right: 10px;
  }

  .middle-lower-hero {
    margin-top:10px;
  }

}



@media only screen and (min-width: 891px) and (max-width 1023px){

  .pink-panther img {
    left: 30px;
    top: 3px;
    max-width: 180px;
  }

}


@media only screen and (min-width: 751px) and (max-width: 890px) {

    .footer-grid {
      margin-top: 40px;
    }

    .main-tagline {
      font-size: 3.8em;
    }

    .subheadline {
      font-size: 1.4em;
    }
    .pink-panther img {
      left: 30px;
      top: 14px;
      max-width: 170px;
    }

    .contact-info {
      font-size: 1em;
    }
}

@media only screen and (max-width: 750px) {
  .pink-panther img {
    visibility: hidden;
  }
}

 @media only screen and (min-width: 641) and (max-width: 750px) {

 .lower-hero {
    position: relative;
    top: 30px;
  }

.middle-lower-hero {
  position: relative;
  top: -75px;
}

  .learn-info {
    position: relative;
    top: 10px;
  }

  .contact-info {
    position:relative;
    top: 32px;
    font-size: 1.1em;
 }

  .main-tagline {
    font-size: 3em;
  }

  .subheadline {
    font-size: 1.2em;
  }

  .logo-left {
    text-align: center;
  }

  .learn-info, .contact-info, .lower-right-btn, .logo-left {
    text-align: center;
  }

  .learn-info {
    font-size: 1.2em;
  }

  /* .lower-right-btn-container{
    position: relative;
    top: -10px;
    text-align: center;
    z-index: 2;
  } */

}


@media only screen and (min-width: 451px) and (max-width: 640px) {

  .footer-grid {
    margin-top: 50px;
  }

  .main-tagline {
    font-size: 2.5em;
  }

  .subheadline {
    font-size: 1em;
  }

  .learn-info, .contact-info, .lower-right-btn, .logo-left {
    text-align: center;
  }

  .hero-height {
    height: 500px;
    padding-bottom: 30px;
  }

  .lower-hero-height {
     height: 180px;
  }

  .lower-hero {
    position: relative;
    top: 30px;
  }

.middle-lower-hero {
  position: relative;
  top: -75px;
}

  .learn-info {
    position: relative;
    top: -70px;
  }

  .contact-info {
    position:relative;
    top: -60px;
 }

 .lower-right-btn-container{
   position: relative;
   top: -150px;
   text-align: center;
 }

  span.wrap {
    white-space: nowrap;
    line-height: 30px;
  }

}


@media only screen and (min-width: 300px) and (max-width: 450px) {
  .footer-grid {
    margin-top: 50px;
  }

  .main-tagline {
    font-size: 2.5em;
  }

  .subheadline {
    font-size: 1em;
  }

  .learn-info, .contact-info, .lower-right-btn, .logo-left {
    text-align: center;
  }

  .hero-height {
    height: 550px;
    padding-bottom: 50px;
  }

  .lower-hero-height {
   height: 200px;
  }

  .lower-hero {
    position: relative;
    top: 30px;
    padding-bottom: 30px;
  }

  .middle-lower-hero {
  position: relative;
  top: -75px;
  }

  .learn-info {
    position: relative;
    top: -70px;
  }

  .contact-info {
    position:relative;
    top: -70px;
  }

  .lower-right-btn-container{
    position: relative;
    top: -170px;
    text-align: center;
  }

  span.wrap {
    white-space: nowrap;
    line-height: 30px;
  }

}
